body{
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    background: #f1f1f1;
}
header{
    height: 60px;
    background-color: #111111;
    
}
#nav-container{
display: grid;
grid-template-columns: 3fr 1fr;
}
#nav-container > :nth-child(even){
    font-size: 1.5em;
    padding: 10px 10px;
}
#nav-container div a{
    text-decoration: none;
    color: #ffffff;
}
.logo{
    margin: 2% 6%; 
    cursor: pointer;
}
.logo a{
    text-decoration: none;
    color: #ffffff;
    font-size: 2em;
}
@media (max-width: 500px){
    .logo a{
        font-size: 1em;
    }  
    #nav-container > :nth-child(even){
        font-size: 0.9em;
    }
    header{
        height: auto;       
    }
}
/* End of navigator */
.main-grid{
    display: grid;
    /* grid-gap: 0.8rem; */
    grid-template-columns: 18% 82%;
    /* padding: 0rem 1.2rem; */
}
#left-main{
    background-color: #2b2e33;
    height: 90vh;
    padding: 20px 0px;
}
#left-main button{
    line-height: 40px;
    font-size: 1.2em;
    color: #ffffff;
    background-color:  #2b2e33;
    width: 100%;
    cursor: pointer;
    border: 0px;
}
#left-main button:focus {
    outline: none;
  }
#left-main button.active{
    background-color: #000000;
}
.top-container{
    background-color: #6c5e5e;
}
.up-box{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}
.number-user{
    background-color:#c9c9c9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.number-user p{
    font-size: 1.5em;
    text-align: center;
}
  /* displaying all  mentorship request */

  /* search box */
  .search-container {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
  }
  .search-container h1{
      font-size: 1.5em;
      color: #ffffff;
      padding-left: 2em;
  }
  .search-container input {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    outline: none;
  }
  .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  .search-container button:hover {
    background: #ccc;
  }
  .mentor-container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
}
.mentor-container div{
    /* border: 1px solid red; */
    background-color:#c9c9c9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}
.mentor-box{
    border-radius: 5px;
    padding: 10px;    
}
.mentor-box img{
    width: 40%;
    /* padding: 0 5em 0 7em; */
    padding: 0  5%  0  30%;
}
.mentor-box h3{
    font-size: 1em;
    text-align: center;
}
.mentor-box p{
    font-size: 1em;
    text-align: center;
} 
.mentor-box button{
    font-size: 1em;
    width: 45%;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    background-color: #28a745;
    border: 0px;
}
.mentor-box  button:focus {
    outline: none;
  }
  #Users{
      display: none;
  }
  #mentors{
      display: none;
  }
  .mentor-page {
      margin-left: 40%;
  }
  .mentor-page a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  } 
  .mentor-page a.active {
    background-color: #28a745;
    color: white;
  }
  .mentor-page a:hover:not(.active) {
      background-color: #ddd;
    }

    @media (max-width:800px){
        .up-box{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .mentor-container{
            display: grid;
            grid-gap: 20px;
            grid-template-columns: 1fr 1fr;
            padding: 10px;
        }
        .search-container {
         display: grid;
         grid-template-rows: 1fr 1fr;
          }
          .search-container h1{
            font-size: 1em;
            padding-left: 0.2em;
        }
        .search-container input {
          padding: 2px;
          margin-top: 5px;
          font-size: 12px;
        }
        .search-container button {
          padding: 2px 12px 2px 12px;
          margin-top: 5px;
          margin-right: 16px;
          font-size: 12px;
        }
        .mentor-page {
            margin-left: 10%;
        }
        .mentor-page a {
          padding: 4px 8px;
        } 
    }
    @media (max-width: 530px){
        .mentor-container{
            display: grid;
            grid-gap: 20px;
            grid-template-columns: 1fr;
            padding: 10px;
        }
        .up-box{
            display: grid;
            grid-template-columns: 1fr;
        }
        #left-main button{
            font-size: 0.8em;
        }
    }

    /* mentering activity displayed in table */
    table{
        width: 100%;
        border-spacing: 0px;
        background-color:#c9c9c9;
        padding: 10px;
        border-radius: 5px;
    }
    #action-clmn{
        width: 20%;
    }
    table tr td button{
        font-size: 1.2em;
        width: 100%;
        border-radius: 5px;
        cursor: pointer;
        color: #ffffff;
        background-color: #28a745;
    }
    table tr th{
        text-align: left;
        border-bottom: 2px solid #ddd;
        background-color: #4CAF50;
        color: white;
        height: 30px;
    }
    tr:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }

    /*  display all mentorship session  */
    .session-container{
        display: none;
        background-color: #6c5e5e
    }
    .session-container-1{
            display: grid;
            grid-template-columns: 1fr 1fr ;     
    }
    .session-container-1 div{
        height: 90vh;
    }
.session-container-1 .session-area{
    padding: 20px;
    background-color: #f1f1f1;
}
.session-container-1 .session-area h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em
}
.session-container-1 .session-area h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
}
.session-container-1 .session-area textarea{
    width: 95%;
    height: 30vh;
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    outline: none;
    border-radius: 10px;
}
.session-container-1 .session-area button{
    font-size: 1.2em;
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    background-color: #28a745;
}
#user-sms{
    border: 1px solid #ddd;
    height: auto;
    padding: 10px;
    font-size: 1.1em;
    line-height: 25px;
    background-color: #f8f8f8;
    border-radius: 10px;
}
.session-container-1 .session-completed h1{
    color: #ffffff;
    text-align: center;
    font-size: 1.5em;
}
.session-completed table tr td{
    border-bottom: 2px solid #ddd;
}
.session-completed table tr td p:nth-child(odd){
    font-size: 1.2em;
    font-weight: 800;
}
.session-completed table tr td p:nth-child(even){
       margin-top: -15px;
}

@media(max-width:530px ){
    table{
        font-size: 0.8em;
        padding: 0px;
    }
}
@media(max-width: 390px ){
    table{
        font-size: 0.7em;
        padding: 0px;
    }
}
@media(max-width: 480px ){
    .session-container-1{
        display: grid ;
        grid-template-columns: 1fr;
}
.session-container-1 .session-area textarea{
    height: 20vh;
    font-size: 0.8em;
}
.session-container-1 .session-area h1{
    font-size: 1.2em
}
.session-container-1 .session-area h2{
    font-size: 0.9em;
}
.session-container-1 .session-area button{
    font-size: 0.7em;
}
.session-container-1 div{
    height: auto;
}
}