body{
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    background: #f1f1f1;
}
header{
    height: 10vh;
}
.logo{
    position: fixed;
    padding: 10px 20px 10px 80px;
    cursor: pointer;
    background-color: #111111;
    width: 100%;
    height: 7vh;  
    z-index: 1;
}
.logo a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
}
/* End of navigator */
.container{
    display: grid;
    grid-template-columns: 75% 25% ;   
}
.container > div:nth-child(even){
    background-color: #c7b9b9;
    height: 545px;
    position: fixed;
    left: 75%;
    width: 25%;
    padding-left: 4%;
}
.sign-up-container-cln h1{
    font-size: 1.8em;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.sign-up-container-cln p.active{
    color: #ffffff;
}
.sign-up-container{
    margin-top: 50px;
    margin-left: 10%;
}
.sign-up-container h1{
    font-size: 1.3em
}
.sign-up-container label b{
    font-size: 0.9em;
}
.sign-up-container input{
    margin-bottom: 30px;
    width: 70%;
    padding: 10px 10px;
    font-size: 1em;
    border: 1px solid #ddd;
}
.sign-up-container textarea{
    padding: 10px 10px;
    font-size: 1.2em;
    border: none;
    margin-bottom: 30px;
    width: 70%;
}
.sign-up-container  textarea:focus {
    background-color: #ddd;
    outline: none;
  }
.sign-up-container  input:focus {
    background-color: #ddd;
    outline: none;
  }
  .sign-up-container p a{
    text-decoration: none;
    color: blue;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer; 
    font-size:1.1em;
    border-radius: 5px;
    padding:  10px 30px 10px 30px;
  }
  .sign-up-btn{
      margin-left: 10%;
      display: grid;
      grid-template-columns: 1fr 2fr;
  }
 .sign-up-btn h3{
    font-weight: 200;
    margin-left: 5px;
    font-size: 1.1em;
    }
    .sign-up-btn h3 a{
        color: blue;
    }
    @media (max-width: 768px){
        .sign-up-btn{
            display: grid;
            grid-template-columns: 1fr;
        }  
    }
    @media (max-width: 430px){
        .container > div:nth-child(even){
       display: none;
        }
        .sign-up-container h1{
            font-size: 1.2em
        }
        .logo{
            padding: 10px 20px 10px 10px;
        }
        .sign-up-btn h3{
            font-size: 1em;
            }
    }