body{
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    background: #f1f1f1;
}
header{
    height: 10vh;
    background-color: #111111;
}
.logo{
    position: absolute;
    padding: 10px 10px 20px 80px;
    cursor: pointer;
}
.logo a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
}
/* End of navigator */
.container{
    display: grid;
    grid-template-columns: 70% 30% ;   
}
.container > div:nth-child(even){
    background-color: #c7b9b9;
}
.sign-up-container{
    margin-top: 40px;
    margin-left: 15%;
}
.sign-up-container h1{
    font-size: 1.5em
}
.sign-up-container label b{
    font-size: 0.9em;
}
.sign-up-container input{
    margin-bottom: 25px;
    width: 80%;
    padding: 10px 10px;
    font-size: 1em;
    border: none;
}
.sign-up-container  input:focus {
    background-color: #ddd;
    outline: none;
  }
  .sign-up-container p a{
    text-decoration: none;
    color: blue;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer; 
    font-size:1.1em;
    border-radius: 5px;
    padding:  10px 30px 10px 30px;
  }
  .sign-up-container .sign-up-btn h3{
    font-weight: 200;
    margin-left: 5px;
    font-size: 1.1em;
    }
    .sign-up-btn{
        margin-left: 15%;
        display: grid;
        grid-template-columns: 1fr 2fr ;
        justify-self: start;
    }
    .sign-up-btn h3{
        font-weight: 300;
    }
    .sign-up-btn h3 a{
        color: blue;
    }
    .sign-up-container-cln{
        padding-left: 15%;
        padding-top: 10%;
    }
    .sign-up-container-cln h1{
        font-size: 1.7em;
        font-family: 'Times New Roman', Times, serif
    }
    .sign-up-container-cln p{
        font-size: 1.3em;
        font-family: 'Times New Roman', Times, serif
    }
    .sign-up-container-cln p.active{
        color: #ffffff;
        font-size: 1.4em;
        font-weight: 900;
    }
    @media (max-width: 500px){
        .container{
            display: grid;
            grid-template-columns: 1fr;   
        }
        .sign-up-container-cln{
            display: none;
        }
        .sign-up-btn{
            display: grid;
            grid-template-columns: 1fr  ;
        }
        .sign-up-btn h3{
            font-size: 1.1em
        }
        .logo{
            padding: 10px 10px 20px 20px;
            cursor: pointer;
        }
    }