body{
  margin: 0;
  padding: 0;
  font-family: arial;
  
}
/* homepage navigator */
#navigator{
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 100px;
  background-color: #f1f1f1;
  width: 100%;
  box-sizing: border-box;
  z-index: 99;
}
#navigator #logo{
  color: black;
  height: 30px;
  line-height: 30px;
  font-size: 1em;
  float: left;
  font-weight: bold;
}
#navigator nav {
  float: right;
}
#navigator nav ul li{
  list-style: none;
}
#navigator nav ul li a{
  line-height: 30px;
  padding: 0 20px;
  color:black;
  text-decoration: none;
  display: block;
}
#navigator nav ul li a:hover, header nav ul li a.active{
  color: #2196f3;
}
.nav-menu{
  color: #ffffff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}
#navigator #desktop ul
{
    margin: 0;
    padding: 0;
    display: flex;
}
#navigator .mobile{
  text-align: center;
   display: none;
}
@media (max-width: 768px){
  #navigator{
    padding: 5px 10px !important;
}
}
@media (max-width: 450px){
  #navigator{
    padding: 5px 10px !important;
    background-color: #000000;
}
  #navigator #logo{
    color: #ffffff;   
    font-size: 20px !important;
    margin-left: 0px;
  }
  .nav-menu{
      display: block;
      float: right;
      font-size: 20px;
      margin-right: 30px; 
  }
  #navigator .mobile{
      position: absolute;
      width: 100%;
      top: 40px;
      left: 0;
      transition: 0.5s;
  }
  #navigator #desktop ul
{
 display: none;
}
  #navigator nav ul li a{
    color: #ffffff;
    font-size: 1.5em;
    line-height: 50px;
    
  }
   #navigator .mobile{
      text-align: center;
       display: none;
  }
  .navbar-bg{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
  }
}
/* End of navigator */
main{
  margin-top: 50px;
}
.welcome-image{
  width: 100%;
  background-image: url('images/coach-mentor-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  overflow: hidden;
}
.welcome-text{
  display: table-cell;
  vertical-align: middle;  
  height: 90vh;
}
#welcome-text-bg{
  background-color: rgba(0, 0, 0, 0.6);
}
.welcome-image h2{
  font-size: 3em;
  color: #ffffff;
  text-align: center;
}
.welcome-image h3{
  font-size: 1.1em;
  color: #ffffff;
  text-align: center;
  margin-top: -20px;
}
.welcome-image button{
  font-size: 1.2em;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 40%;
  color: #ffffff;
  background-color: #28a745;
  border: none;
}
@media (max-width: 768px){
  main{
    margin-top: 40px;
  }
  .welcome-image h2{
    font-size: 2.2em;
  }
}
@media (max-width: 430px){
  .welcome-image h2{
    font-size: 2.5em;
  }
  .welcome-image button{
    margin-left: 30%;
  }
  .welcome-image h3{
    font-size: 1em;
  }
}
/* start of second section */
.service-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#service-1{
  background-color: #17a2b8;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-weight: 500;
  line-height: 25px;
}
#service-1 h3{
  font-size: 1.2em;
}
#service-2{
  background-color: #28a745;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-weight: 500;
  line-height: 25px;
}
#service-2 h3{
  font-size: 1.2em;
}
#service-3{
  background-color: #6610f2;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-weight: 500;
  line-height: 25px;
}
#service-3 h3{
  font-size: 1.2em;
}
#service-4{
  background-color: #dc3545;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-weight: 500;
  line-height: 25px;
}
#service-4 h3{
  font-size: 1.2em;
}
@media (max-width: 768px){
  .service-container{
    display: grid;
    grid-template-columns:  1fr 1fr;
  }
}
@media (max-width: 520px){
  .service-container{
    display: grid;
    grid-template-columns:  1fr;
  }
}

/* start of third section */
.intro-cover{
  display: grid;
  grid-template-columns: 40% 60%;
}

.intro-cover div img{
 max-width: 90%;
 max-height: 90%;
 margin-left: 10%;
 margin-top: 3%;
}
#intro-text-cover{
  padding-right: 50px;
}
#intro-text{
  padding-right: 10px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #f1f1f1;
}
#intro-text p{
  line-height: 23px;
}
#intro-text h3{
  text-align: center;
  font-size: 1.3em
}
@media (max-width: 768px){
  .intro-cover{
    display: grid;
    grid-template-columns: 1fr;
  }
  #intro-text-cover{
    padding-right: 0px;
  }
  #show-img{
    height: 40vh;
  }
  .intro-cover div img{
    margin-left: 30%;
   }
}
/* Recently Mentors section  */
.mentors-cover{
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}
.mentors-cover .mentor-image{
  height: 50vh;
  position: relative;
  background-color: #111111;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mentors-text{
  text-align: center;
}
.mentors-cover .mentor-image img{
  max-width: 100%;
  height: 50vh;
  position: relative;
  backface-visibility: hidden;
}
.mentor-detail{
  position: absolute;
  margin-top: -100px;
  margin-left: 7%;
  padding-left: 20px;
  padding-right: 20px;
  font-family: georgia;
  color: white;
  text-align: center;
}
.mentor-detail h1{
  font-size: 1.3em;
  font-weight: 900;
}
.mentor-detail h3{
  font-size: 1.1em;
  font-weight: 500;
  line-height: 10px;
}
.middle-button{
  transition: .5s ease;
  opacity: 0;
  margin-top: -60%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.mentor-image:hover img {
  opacity: 0.6;
}
 .mentor-image:hover .middle-button {
  opacity: 1;
}
.text  {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;
}
@media (max-width: 768px){
  .mentors-cover{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .mentor-detail{
    margin-left: 20%;
  }
  .mentor-detail h1{
    font-size: 1.5em;
  }
  .mentor-detail h3{
    font-size: 1.3em;
  }
}
@media (max-width: 430px){
  .mentors-cover{
    display: grid;
    grid-template-columns: 1fr;
  }
  .mentors-text{
   font-size: 0.8em
  }
  .middle-button{
    margin-top: -40%;
  }
}

/* user review section */
.review-container {
  height: 40vh;
}
.review-container .review-slideshow li{
 display: grid;
 grid-template-columns: 40% 60%;
 position: absolute; 
 object-fit: cover;
 z-index:-1;
 list-style: none;
 opacity: 1;
 transition: opacity 0.75s ease-in-out
}
.review-container .review-slideshow li img{
  width: 200px;
  height: 150px;
  border-radius: 50%;
  margin-left: 30%;
  margin-top: 20px;
}
.review-container .review-slideshow li p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3em;
  margin-right: 20%;
  margin-top: 50px;
}
@media (max-width: 768px){
  .review-container .review-slideshow li{
    display: grid;
    grid-template-columns: 1fr;
  }
  .review-container .review-slideshow li p{
    margin-right: 5%;
    margin-top: 10px;
    text-align: center;
    font-size: 1.1em;
  }
  .review-container {
    height: 55vh;
  }

}
@media (max-width: 430px){
  .review-container {
    height: 60vh;
  }
  .review-container .review-slideshow li img{
    margin-left: 20%;
    margin-top: 1px;
  }
}

/* footer sectision */
footer{
  background-color: #222222;
  overflow: hidden;
}
.container-social-media{ 
display: grid;
grid-template-columns: 1fr 1fr ;
height: 15vh;
margin-left: 20%;
}
.container-social-media p{
  color: #ffffff;
  padding-top: 15px;
}
.footer-social-meadia{
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
padding: 20px 15px;
margin-right: 20%;
}
.footer-social-meadia img{
  max-width: 100%;
  max-height: 100%;
}
.footer-copyright{
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  border: 1px solid #000000;
}
.footer-copyright p{
  margin-bottom: 4px;
  font-size: 0.8em;
}
@media (max-width: 768px){
  .container-social-media{ 
    height: 10vh;
    }
}
